body{
    background: rgb(175, 248, 224);
    font-family: 'Caveat Brush', cursive;
}

/* start of nav section */

section{
    height: auto;
    width: 59%;
    margin: 0 auto; 
}

h1{
    float: left;
    padding-left: 20px;
    font-size: 30px;
    /* display: inline-block; */
}
.h1_underline {
    height: 5px;
    width: 20px;
    background-color: rgb(248, 91, 91);
    position: absolute;
    /* z-index: 10; */
    margin-top: 0px;
    margin-left: 50px;
}

nav{
    background-image: url(../img/woddPlank.jpg);
    height: 500px;
    width: auto;
    margin-top: 20px;
    position: relative;
    z-index: -1;
    /* text-decoration-line: none; */
}

ul{
    margin-left: 60%;
}

li{
    list-style: none;
    float: left;
    margin-top: 20px;    
}

.a{
    margin: 20px; 
    text-decoration-line: none;
}
.pink{
    position: absolute;
    z-index: 2;
    opacity: 0.5;
    margin-left: 50%;
    margin-top: 14%;
    width: 0;
    height: 0;
    border-top: 130px solid rgb(248, 91, 91);
    border-left: 130px solid transparent;
    /* height: 100px;
    width: 100px; */
    /* background: pink; */
}

.pink2{
    height: 50px;
    width: 50px;
    position: absolute;
    z-index: 10;
    border-top-left-radius: 100%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-bottom: 5px solid rgb(248, 55, 55);
    border-right: 5px solid rgb(248, 55, 55);
    transform: rotate(45deg);
    margin-left: 51%;
    margin-top: 32%;
}

.logo{
    height: 200px;
    width: 200px;
    position: absolute;
    z-index: 2;
    margin-left: 35%;
    margin-top: 12%;
}

/* end of nav section */



/* start of div section */

#story{
    float: left;
      background-image: url(../img/pattern.jpg);
      margin-bottom: -5px;
}

.p_story{
    float: left;
    height: 265px;
    width: 39%;
    padding: 10px;
    text-align: center;
    margin-top: 120px; 
}

.h2_underline {
    height: 5px;
    width: 20px;
    background-color: rgb(248, 91, 91);
    position: absolute;
    z-index: 10;
    margin-top: 0px;
    margin-left: 200px;
}

.img_stroy{
    float: left;
}
.s_img_stroy{
    height: 400px;
    width: 659px;
}

/* finish of story */







#fare{
    
}

.img_fare {
    float: left;
    
}

.s_img_fare {
    height: 400px;
    width: 659px;
}

.p-img{
    margin-top: 55px;
    height: 100px;
    width: 100px;
}

.p_fare{
     float: left;
     height: 380px;
     width: 39%;
     padding: 10px;
     text-align: center;
     margin-top: 0px;
     background-color: #fff;
}

/* finish fare */

#local {
    /* margin-top: -4px; */
}

.img_local {
    float: left;
}

.s_img_local {
    height: 400px;
    width: 655px;
}

/* .p-img {
    margin-top: 55px;
    height: 100px;
    width: 100px;
} */

.p_local {
    float: left;
    height: 380px;
    width: 39%;
    padding: 10px;
    text-align: center;
    margin-top: 0px;
    background-color: #fff;
}

span{
    color: rgb(247, 37, 65);
}

/* finish of local */

.last_img{
    height: 500px;
    width: 100%;
    margin-top: -3px;
}

/* end of div section */

/* start of footer */
#footer{
    background-image: url(../img/footer.png);
    background-repeat: no-repeat;
    width: 59%;
    height: 300px;
    background-color: #fff;
    margin-top: -4px;
}
.logo_footer{
    height: 30px;
    width: 30px;
    
}
.p_soir{
    padding-top: 102px;
    padding-left: 20px;
}

.div_logo{
    margin-left: 80%;
    margin-top: -50px;
}
.white{
    color: #fff;
}


.underline{
    height: 5px;
    width: 20px;
    background-color: rgb(248, 91, 91);
    position: absolute;
    z-index: 10;
    margin-top: 0px;
    margin-left: 37px;
}
/* end of footer */

/* .scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 10;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
} */
/* .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    z-index: 10;
} */









.clear{
    clear: both;
}
.bug{
    border: 1px solid;
}
